<!-- <div class="container">
  <h3>Sign in as {{ signInMode ? "admin" : "employee" }}.</h3>

  <form>
    <div class="form-group">
      <label for=""> Email </label>
      <input class="form-control" type="email" placeholder="admin@admin.com" />
    </div>

    <div class="form-group">
      <label for=""> Password </label>
      <input class="form-control" type="password" placeholder="helloWorld" />
    </div>

    <button>login {{ signInMode ? "admin" : "employee" }}</button>
  </form>
</div> -->
