<nav class="m-4 p-2">
  <ul class="nav d-flex">
    <div *ngIf="adminLogged" class="d-flex justify-content-start">
      <!-- admin option  -->
      <li *ngIf="!seeEmployees && !seeMessages && !seeTasks">
        <a
          (click)="seeAdmins = !seeAdmins"
          [routerLink]="[seeAdmins ? '/admin' : '/admin/view-admins']"
          [ngClass]="[
            seeAdmins
              ? 'btn btn-outline-danger rounded-pill'
              : 'btn btn-outline-primary'
          ]"
        >
          {{ seeAdmins ? "Close Admins" : "Admins" }}
        </a>
      </li>

      <!-- employee option  -->
      <li *ngIf="!seeAdmins && !seeMessages && !seeTasks">
        <a
          (click)="seeEmployees = !seeEmployees"
          [routerLink]="[seeEmployees ? '/admin' : '/admin/view-employees']"
          [ngClass]="[
            seeEmployees
              ? 'btn btn-outline-danger rounded-pill'
              : 'btn btn-outline-primary'
          ]"
        >
          {{ seeEmployees ? "Close Employees" : "Employees" }}
        </a>
      </li>

      <!-- messages option  -->
      <li *ngIf="!seeAdmins && !seeEmployees && !seeTasks">
        <a
          (click)="seeMessages = !seeMessages"
          [routerLink]="[seeMessages ? '/admin' : '/admin/view-messages']"
          [ngClass]="[
            seeMessages
              ? 'btn btn-outline-danger rounded-pill'
              : 'btn btn-outline-primary'
          ]"
        >
          {{ seeMessages ? "Close Messages" : "Messages" }}
        </a>
      </li>

      <!-- tasks option  -->
      <li *ngIf="!seeAdmins && !seeEmployees && !seeMessages">
        <a
          (click)="seeTasks = !seeTasks"
          [routerLink]="[seeTasks ? '/admin' : '/admin/view-tasks']"
          [ngClass]="[
            seeTasks
              ? 'btn btn-outline-danger rounded-pill'
              : 'btn btn-outline-primary'
          ]"
        >
          {{ seeTasks ? "Close Tasks" : "Tasks" }}
        </a>
      </li>
    </div>

    <div class="d-flex justify-content-end">
      <li *ngIf="adminLogged">
        <a class="btn btn-outline-primary"> Logout </a>
      </li>
    </div>
  </ul>
</nav>
