<!-- options admin or employees -->
<div class="container text-center py-5 h-100">
  <div class="row">
    <!-- admin -->
    <div class="col card mt-3">
      <div class="card-body">
        <h5 class="card-title">Admins</h5>
        <p class="card-text">Rain Admin details</p>

        <div class="btn-group">
          <a (click)="onShowAdmins()" class="btn btn-primary">View</a>
          <a (click)="onShowAddAdmin()" class="btn btn-success">Add</a>
        </div>
      </div>
    </div>

    <!-- employees -->
    <div class="col card mt-3">
      <div class="card-body">
        <h5 class="card-title">Employees</h5>
        <p class="card-text">Access Rain employees details</p>

        <div class="btn-group">
          <a (click)="onShowEmployees()" class="btn btn-primary">View</a>
          <a (click)="onShowAddEmployees()" class="btn btn-success">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  ********************************************************************  -->
<!--   *************************** ADMINS ***************************  -->
<!--  ********************************************************************  -->

<div
  *ngIf="adminsView"
  class="container d-flex justify-content-center text-center"
>
  <!-- show all admins -->
  <div *ngIf="showAdmin" class="d-flex flex-wrap m-2">
    <!-- no admins -->
    <p *ngIf="admins.length == 0" class="m-5">No admins in the data base</p>

    <div *ngFor="let admins of admins" class="card m-5" style="width: 300px">
      <div class="card-body">
        <img
          src="../../assets/admin/person_icon.jpg"
          alt="admin"
          class="rounded-circle img-fluid"
        />

        <h5 class="my-3">{{ admins.email }}</h5>

        <a (click)="onShowAdmin(admins.email)" class="btn btn-primary">
          View
        </a>
      </div>
    </div>
  </div>

  <!-- add admin -->
  <div *ngIf="showAddAdmin">
    <form #adminForm="ngForm" (ngSubmit)="onAddAdmin(adminForm.value)">
      <div class="card m-5" style="width: 500px">
        <h5 class="card-title m-2">Add Admin</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="email"
                name="email"
                class="form-control text-muted mb-0"
                type="email"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Password</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="password"
                name="password"
                class="form-control text-muted mb-0"
                type="password"
              />
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-success">Add Admin</button>
          <button
            (click)="onCancelAddAdmin()"
            type="button"
            class="btn btn-outline-danger"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- display single admin -->
  <div *ngIf="showSingleAdmin">
    <div *ngFor="let admin of admin">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body">
                <img
                  src="../../assets/admin/person_icon.jpg"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                />

                <h5 class="my-3">{{ admin.email }}</h5>

                <div
                  *ngIf="editOptions"
                  class="d-flex justify-content-center mb-2"
                >
                  <button
                    (click)="onShowEditAdmin()"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    Change Password
                  </button>
                  <button
                    (click)="onDelete(admin.email)"
                    type="button"
                    class="btn btn-outline-danger ms-1"
                  >
                    Delete
                  </button>
                  <button
                    (click)="onCancel()"
                    type="button"
                    class="btn btn-danger ms-1"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div *ngIf="showAdminDetails" class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ admin.email }}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Password</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ admin.password }}
                    </p>
                  </div>
                </div>
              </div>

              <!-- edit admin -->
              <div *ngIf="showEditAdmin" class="card-body">
                <form
                  #adminFormEdit="ngForm"
                  (ngSubmit)="onEditAdmin(admin.email)"
                >
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Password</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="admin.password"
                        (input)="updateAdmin($event)"
                        ngModel
                        id="password"
                        name="password"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>
                  <hr style="color: transparent" />

                  <div class="row">
                    <div class="btn-group">
                      <button class="btn btn-outline-success">Save</button>
                      <button
                        (click)="onCancelEdit()"
                        type="button"
                        class="btn btn-outline-danger ms-1"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ********************************************************************  -->
<!-- *************************** EMPLOYEES ***************************  -->
<!-- ********************************************************************  -->

<div
  *ngIf="employeesView"
  class="container d-flex justify-content-center text-center"
>
  <!-- display employees -->
  <div *ngIf="showEmployees" class="d-flex flex-wrap m-2">
    <!-- no employees -->
    <p *ngIf="employees.length == 0" class="m-5">Database has no employees</p>

    <div
      *ngFor="let employee of employees"
      class="card m-5"
      style="width: 300px"
    >
      <div class="card-body">
        <img
          src="../../assets/admin/person_icon.jpg"
          alt="employee"
          class="rounded-circle img-fluid"
        />

        <h5 class="my-3">{{ employee.name }} {{ employee.surname }}</h5>

        <p class="text-muted mb-1">{{ employee.position }}</p>
        <p class="text-muted mb-4">{{ employee.email }}</p>
        <a (click)="onShowEmployee(employee.email)" class="btn btn-primary"
          >View</a
        >
      </div>
    </div>
  </div>

  <!-- add employees -->
  <div *ngIf="showAddEmployee">
    <form #employeeForm="ngForm" (ngSubmit)="onAddEmployee(employeeForm.value)">
      <div class="card m-5" style="width: 500px">
        <h5 class="card-title m-2">Add Employee</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="name"
                name="name"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Surname</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="surname"
                name="surname"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Cell</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="cell"
                name="cell"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Position</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="position"
                name="position"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="email"
                name="email"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Password</p>
            </div>
            <div class="col-sm-9">
              <input
                ngModel
                id="password"
                name="password"
                class="form-control text-muted mb-0"
                type="text"
              />
            </div>
          </div>
          <!--
            <hr />
            <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Profile Picture</p>
            </div>
            <div class="col-sm-9">
              <input type="file" class="form-control text-muted mb-0" />
            </div>
          </div> -->
        </div>
        <div class="btn-group m-2">
          <button class="btn btn-success">Add Employee</button>
          <button
            (click)="onCancelAddEmployee()"
            type="button"
            class="btn btn-outline-danger"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- display single employee -->
  <div *ngIf="showEmployee">
    <div *ngFor="let employee of employee">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body">
                <img
                  src="../../assets/admin/person_icon.jpg"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                />

                <h5 class="my-3">{{ employee.name }} {{ employee.surname }}</h5>

                <p class="text-muted mb-1">{{ employee.position }}</p>
                <p class="text-muted mb-4">{{ employee.email }}</p>
                <div
                  *ngIf="EditEmployeeButtons"
                  class="d-flex justify-content-center mb-2"
                >
                  <button
                    (click)="showEditOptions()"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    Edit
                  </button>
                  <button
                    (click)="onDeleteEmployee(employee.email)"
                    type="button"
                    class="btn btn-outline-danger ms-1"
                  >
                    Delete
                  </button>
                  <button
                    (click)="onCancelViewEmployee()"
                    type="button"
                    class="btn btn-danger ms-1"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div *ngIf="showEmployeeDetails" class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ employee.name }} {{ employee.surname }}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Cell</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ employee.cell }}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Position</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ employee.position }}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ employee.email }}
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Password</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{ employee.password }}
                    </p>
                  </div>
                </div>
              </div>

              <!-- edit employee -->
              <div *ngIf="showEditEmployee" class="card-body">
                <form
                  #employeeEditForm="ngForm"
                  (ngSubmit)="onEditEmployee(employee.email)"
                >
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="employee.name"
                        (input)="updateEmployeeName($event)"
                        ngModel
                        id="name"
                        name="name"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Surname</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="employee.surname"
                        (input)="updateEmployeeSurname($event)"
                        ngModel
                        id="surname"
                        name="surname"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Cell</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="employee.cell"
                        (input)="updateEmployeeCell($event)"
                        ngModel
                        id="cell"
                        name="cell"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Position</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="employee.position"
                        (input)="updateEmployeePosition($event)"
                        ngModel
                        id="employeePosition"
                        name="position"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Password</p>
                    </div>
                    <div class="col-sm-9">
                      <input
                        [(ngModel)]="employee.password"
                        (input)="updateEmployeePassword($event)"
                        ngModel
                        id="employeePassword"
                        name="password"
                        class="form-control text-muted mb-0"
                        type="text"
                      />
                    </div>
                  </div>
                  <hr />
                  <!--


                    <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Profile Picture</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="file" class="form-control text-muted mb-0" />
                    </div>
                  </div>
                  <hr />

                   -->
                  <div class="row">
                    <div class="btn-group">
                      <button class="btn btn-outline-success">Save</button>
                      <button
                        (click)="onCancelEditEmployee()"
                        type="button"
                        class="btn btn-outline-danger ms-1"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
